* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: rgb(61, 61, 61);
  }
  
  ul {
    display: flex;
  }
  
  ul > li {
    margin: 0.4rem 0;
    padding: 0.5rem 1.1rem;
  }
  
  #nav_bar > ul {
    justify-content: right;
    margin: 0.8rem 0;
  }

  #nav_bar a:hover { 
    text-decoration:underline;
  }
  
  #nav_bar > ul > li:last-child {
    background-color: #4c8bf5;
    margin-right: 2rem;
    border-radius: 0.15rem;
  }

  #nav_bar > ul > li:last-child:hover {
    background-color: #1b6efd ;
  }
  
  #nav_bar > ul > li:last-child a {
    color: white;
  }

  .google-image {
    margin: 7rem 0 1rem 0;
    display: flex;
    justify-content: center;
  }
  
  .form-search {
    display: flex;
    justify-content:center;
    margin-bottom: 1.5rem;
  }
  
  .form-search input {
        width: 500px;
        border-radius: 20px;
        height: 30px;
        padding-left: 10px;
    }
  
  #form-search:focus {
    border: 1px solid #4c8bf5;
    box-shadow: 1px 1px 1px 1px 3px #4c8bf5;
  }
  
  #form-search::placeholder {
    font-family: "Roboto", sans-serif;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  #google_search,
  #im_feeling_lucky {
    padding: 0.2rem 1rem;
    margin-bottom: auto;
  }
  
  .buttons > #google_search {
    margin-right: 0.3rem;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    font-size: 0.85rem;
  }
  
  footer > ul > li > a {
    color: #535353;
  }
  
  footer > ul > li > a:hover {
    color: #202124;
    text-decoration: underline;
  }